
<a href="/">WELCOME</a>

<h3>Login Page</h3>

<form class="" action="/sessions" method="POST">
    <p>
        <label for="email">Enter email address: </label>
        <input type="text" name="email" value="" />
    </p>
    <p>
        <label for="password">Enter password: </label>
        <input type="text" name="password" value="" />
    </p>
        <input type="submit" value="Login" />
</form>








