<h2>Here's a list of all of your idea titles.</br> Click the title link to see details of each idea.</h2>

    <% list_number = 1 %>
<% @ideas.each do |idea| %>
  
    <% if idea.user_id == current_user.id %>
        
    <%= list_number %>. <%= idea.date_created %> <a href="/ideas/<%= idea.id %>"><%= idea.title %></a></br>
   
    <% list_number += 1 %>

    <% end %>

<% end %>


