<h1>Create a new IDEA, <%= current_user.name %>!</h1>

<form class="" method="POST" action="ideas">
    <label for="title">Title</label>
    <input type="text" name="title" value="" />
    <label for="inspiration">Inspiration</label>
    <input type="text" name="inspiration" value="" />
    <p><label for="summary">Summary</label>
    <input type="text" name="summary" value="" /></p>
    <p><label for="timeline_plan">Timeline Plan</label>
    <input type="text" name="timeline_plan" value="" /></p>
    <p><label for="action_steps_accomplished">Action Steps Accomplished</label>
    <input type="text" name="action_steps_accomplished" value="" /></p>
    <p><label for="resources">Resources</label>
    <input type="text" name="resources" value="" /></p>
    <p><label for="total_budgeted_dollars">Total Budgeted Dollars</label>
    <input type="integer" name="total_budgeted_dollars" value="" /></p>
    <p><label for="total_spent_dollars">Total Spent Dollars</label>
    <input type="integer" name="total_spent_dollars" value="" /></p>
    <p><label for="category">Category</label>
    <input type="text" name="category" value="" /></p>
    
    <input type="submit" name="" value="Create" />
</form